html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 200%;
	height: 100%;
	position: fixed;
	left: 0;
	transition: left 0.5s ease;
}

.page {
  width: 50%;
  height: 100vh;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 2%;
  left: 2%;
  color: white;
  font-size: 1.5rem;
}

.black {
  width: 75%;
  height: 100%;
  background-color: #151515;
  color: white;
}

.black h1 {
  position: absolute;
  bottom: 3%;
  left: 2%;
  margin: 0;
  padding: 0 1rem 1rem 1rem;
	font-family: "Andale Mono", monospace;
	font-size: 6rem;
    font-weight: bold;
}

.black h2 {
  position: absolute;
  top: 3%;
  left: 2%;
  margin: 0;
  padding: 0 1rem 1rem 1rem;
	font-family: "Andale Mono", monospace;
	font-size: 4rem;
    font-weight: bold;
}

.black h3 {
    position: absolute;
  top: 10%;
  left: 2%;
  margin: 0;
  padding: 0 1rem 1rem 95rem;
  	font-family: "Andale Mono", monospace;
  	font-size: 3rem;
   	font-weight: bold;
}

.white {
  width: 25%;
  height: 100%;
  background-color: #f0f0f0;
  color: black;
  position: relative;
}

.white h1 {
  position: absolute;
  top: 3%;
  right: 2%;
  margin: 0;
  padding: 0 1rem 1rem 1rem;
	font-family: Arial, sans-serif;
	font-size: 6rem;
    font-weight: bold;

}

.white h2 {
  position: absolute;
  bottom: 50%;
  right: 2%;
  margin: 0;
  padding: 0 1rem 0rem 1rem;
	font-family: "Andale Mono", monospace;
	font-size: 6rem;
    font-weight: bold;

}

.curatorial-link {
  position: absolute;
  top: 25%;
  right: 2%;
  margin: 0%;
  padding: 0 1rem 0rem 0rem;
	font-family: "Andale Mono", monospace;
	font-size: 2rem;
    font-weight: normal;
  color: black !important;
  text-decoration: none !important;
}

.curatorial-link:hover {
  color: white;
  text-decoration: underline;
}

.artwork-link {
  position: absolute;
  top: 33%;
  right: 2%;
  margin: 0%;
  padding: 0 1rem 0rem 0rem;
	font-family: "Andale Mono", monospace;
	font-size: 2rem;
    font-weight: normal;
  color: black !important;
  text-decoration: none !important;
}

.artwork-link:hover {
  color: white;
  text-decoration: underline;
}

.color-link {
  position: absolute;
  top: 41%;
  right: 2%;
  margin: 0%;
  padding: 0 1rem 0rem 0rem;
	font-family: "Andale Mono", monospace;
	font-size: 2rem;
    font-weight: normal;
  color: black !important;
  text-decoration: none !important;
}
.color-link:hover {
  color: white;
  text-decoration: underline;
}

.curat_header {
  position: static;
  text-align: center;
  font-family: "Andale Mono", monospace;
  font-size: 25px;
  color: #151515;
  margin: 0;
  padding: 25px 0;
}

.curat_header h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 20px;
}

.image {
    width: 60%;
    height: 60%;
}

.image-container {
    text-align: center;
}

.paragraph {
  position: relative;
  font-family: "Andale Mono", monospace;
  font-size: 18px;
  color: #333;
  margin: 0;
  padding: 20px 0;
  text-align: center;
    line-height: 2;
}

nav {
  position: absolute;
  font-family: "Andale Mono", monospace;
  top: 20px;
  right: 20px;
  text-decoration: none;

}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

@media (max-width: 768px) {
  .black {
    width: 75%;
  }
  .white {
    display: none;
  }
}
